.card-container {
    width: 18rem;
    background-color: var(--card-bg-color);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    color: var(--primary-text-color);
  }
  
  .card-img-container {
    width: 100%;
    height: 20rem;
  }
  
  .card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: center center;
  }
  
  .card-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
  }
  
  .title {
    font-size: 1.25rem;
  }
  
  .ratings {
    display: flex;
    justify-content: space-between;
  }
  
  .card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: center center;
    height: 300px;
  }